@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Golos Text', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar */
header{ 
    width: 40%;
}

.topnav{
    display: flex;
    position: fixed;
    width: 10%;
    height: auto;
    left: 20px;
    top: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 100px;
    background-color: white;
    outline: 2px solid pink;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo{
    height: 120px;
    width: auto;
    border-radius: 5px;
}

/* main body */
main {
    margin-top: 20px;
    margin-left: 160px;
    padding-left: 10%;
    min-height: 100%;
    margin-bottom: -100px;
    background: white;
    width: 70%;
}

h1{
    padding-bottom: 10px;
}

.socialmedia{
    height: 25px;
    padding: 5px;
    width: auto;
    border: 2px white solid;
    border-radius: 3px;
}

.socialmedia:hover{
    border: 2px pink solid;
    transition: border 0.5s ease-in-out;
}

footer {
    margin-top: auto;
    padding-top: 10px;
    font-size: small;
    font-style: italic;
}

  /* buttons & text styling */
.navbutton, .homebutton{
    position: relative;
}

.navbutton:link, .homebutton:link{
    text-decoration: none;
    color: black;
    transition: color 0.5s ease-in-out;
    animation: moveback 0.25s;
    left: 0px;
}

.navbutton:visited, .homebutton:visited{
    text-decoration: none;
    color:black;
}

h1{
    color: black;
}

P{
    padding-bottom: 20px;
}

.email{
    font-style: italic;
    font-size: 15px;
}

#active{
    color:pink;
}

@keyframes moveright {
    0% {
        left: 0px;
    }
    100% {
        left: 20px;
    }
}

@keyframes moveback {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}

@media only screen and (min-width: 900px) {

    .navbutton:hover, .homebutton:hover{
        text-decoration: none;
        color:pink;
        transition: color 0.5s ease-in-out;
        animation: moveright 1s;
        left: 20px;
        text-decoration: wavy;
    } 

}

@media only screen and (max-width: 800px){
    /* navbar */
header{ 
    width: 100%;
    height: auto;
}

.topnav{
    display: flex;
    position: fixed;
    width: 95%;
    height: auto;
    left: 2.5%;
    top: 1.25%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: white;
    outline: 2px solid pink;
}

.topnav *{
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

header li {
    margin: 10px;
    padding-bottom: 10px;
}

.logo{
    padding-top: 10px;
    height: 60px;
    width: auto;
    border-radius: 5px;
}

/* main body */
main {
    margin-top: 120px;
    margin-left: 0px;
    padding-left: 10%;
    min-height: 100%;
    margin-bottom: -100px;
    background: white;
    width: 80%;
}

h1{
    padding-bottom: 10px;
}

.socialmedia{
    padding-top: 2px;
    height: 20px;
    width: auto;
}

footer {
    margin-top: auto;
    padding-top: 10px;
    font-size: small;
}

  /* buttons & text styling */
.navbutton, .homebutton{
   position: relative;
}

.navbutton:link, .homebutton:link{
    text-decoration: none;
    color: black;
    transition: color 0.5s ease-in-out;
    left: 0px;
}

.navbutton:visited, .homebutton:visited{
    text-decoration: none;
    color:black;
}

h1{
    color: black;
}

#active{
    color:pink;
}
}

@media only screen and (max-width: 450px){
    nav ul li{
        font-size: 75%;
        margin: 0.5vw;
    }
}