@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

*{
    margin:0;
    padding:0;
    background-color: white;
    font-family: 'Golos Text', sans-serif;
}

.topnav{
    z-index: -1;
}

.topnav ul{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    padding-left: 10%;
    padding-top: 7.5%;
    position: fixed;
}

.navbutton, .homebutton{
    position: relative;
}

.navbutton:link, .homebutton:link{
    text-decoration: none;
    color: black;
    transition: color 0.5s ease-in-out;
    animation: moveback 0.25s;
    left: 0px;
}

.navbutton:visited, .homebutton:visited{
    text-decoration: none;
    color:black;
}


img{
    width:30%;
    height:auto;
}

#active{
    color:pink;
}

.maintext{
    padding-top: 5%;
}

.middlebox{
    z-index: 1;
    width:50%;
    height:500px;
    margin:auto;
    background-color:pink;
    position:relative;
}

.middlebox::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

footer{
    padding-left: 10%;
    padding-top: 2%;
    font-size: small;
}

@keyframes moveright {
    0% {
        left: 0px;
    }
    100% {
        left: 20px;
    }
}

@keyframes moveback {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}

@media only screen and (min-width: 900px) {

    .navbutton:hover{
        text-decoration: none;
        color:pink;
        transition: color 0.5s ease-in-out;
        animation: moveright 1s;
        left: 20px;
        text-decoration: wavy;
    } 

}



@media only screen and (max-width: 900px) {
    .topnav .topnav ul{
        position: fixed;
        padding-top: 5%;
        padding-left: 0%;
        height: 50px;
    }

    .topnav ul{
        width: 100%;
    }

    .topnav ul{
        float:left;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid black;
    }

    .topnav ul li{
        display: inline-block;
        margin: 0;
        position: relative;
        top: 5%;
        text-align: center;
        padding: 1%;;
        text-decoration: none;
        padding-bottom: 2%;
    }

    .navbutton:link{
        animation: none;
    }

    .navbutton:hover{
        animation: none;
    }

    img{
        width: 10%;
        padding-top: 3%;
    }

    .homebutton, #homebutton{
        display: none;
    }

    h1{
        font-size: medium;
    }

    p{
        font-size: small;
    }

    .middlebox{
        position: relative;
        margin: auto;
        width:80%;
    }

    .maintext{
        padding-top: 25%;
    }
  }