@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

:root {
    --secondary:black;
    --primary: #ffffff;
    --text: black;
    --text2: white;
    --seethrough: transparent;
    --tertiary: blue;
  }

*{
    margin:0;
    padding:0;
    font-family: 'Golos Text', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/* navbar */
header{ 
    width: 40%;
}

.topnav{
    display: flex;
    position: fixed;
    width: 10%;
    height: auto;
    left: 20px;
    top: 50px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 100px;
    background-color: var(--primary);
    outline: 4px solid var(--secondary);
}

.backvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo{
    height: 120px;
    width: auto;
    border-radius: 5px;
}

/* main body */
main {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    padding: 20px;
    background: var(--primary);
    width: 60%;
    height: 80vh;
    outline: 4px solid var(--secondary);
}

h1{
    padding-bottom: 10px;
}

.socialmedia{
    height: 25px;
    padding: 5px;
    width: auto;
    border: 2px var(--primary) solid;
    border-radius: 3px;
}

.socialmedia:hover{
    border: 2px var(--secondary) solid;
    transition: border 0.5s ease-in-out;
}

footer {
    color:var(--text2);
    margin-top: auto;
    padding-top: 10px;
    font-size: small;
    font-style: italic;
    text-align: right;
}

  /* buttons & text styling */
.navbutton, .homebutton{
    position: relative;
}

.navbutton:link, .homebutton:link{
    text-decoration: none;
    color: var(--text);
    transition: color 0.5s ease-in-out;
    animation: moveback 0.25s;
    left: 0px;
}

.navbutton:visited, .homebutton:visited{
    text-decoration: none;
    color:var(--text);
}

h1{
    color: var(--text);
}

P{
    padding-bottom: 20px;
}

.email{
    font-style: italic;
    font-size: 15px;
}

#active{
    color:var(--text);
}

#active:hover{
    color:var(--tertiary);
}

@keyframes moveright {
    0% {
        left: 0px;
    }
    100% {
        left: 10px;
    }
}

@keyframes moveback {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media only screen and (min-width: 900px) {

    .navbutton:hover, .homebutton:hover{
        text-decoration: none;
        color:var(--tertiary);
        transition: color 0.5s ease-in-out;
        animation: moveright 0.5s;
        left: 10px;
        text-decoration: wavy;
    } 

}

@media only screen and (max-width: 800px){
    /* navbar */
header{ 
    width: 100%;
    height: auto;
}

#active{
    color:var(--text);
}

.topnav{
    display: flex;
    position: fixed;
    width: 95%;
    height: auto;
    left: 2.5%;
    top: 1.25%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}


/* kan veranderd worden in een drop down menu */
 .topnav *{
    display: inline-block;
} 

ul {
    margin: 0;
    padding: 0;
}

header li {
    margin: 10px;
    padding-bottom: 10px;
}

.logo{
    padding-top: 10px;
    height: 60px;
    width: auto;
    border-radius: 5px;
}

/* main body */
main {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    min-height: 80vh;
    margin-bottom: 20px;
    width: 70%;

}

h1{
    padding-bottom: 10px;
}

.socialmedia{
    padding-top: 2px;
    height: 20px;
    width: auto;
}

footer {
    margin-top: auto;
    padding-top: 10px;
    font-size: small;
    text-align: center;
}

  /* buttons & text styling */
.navbutton, .homebutton{
   position: relative;
}

.navbutton:link, .homebutton:link{
    text-decoration: none;
    color: var(--text);
    transition: color 0.5s ease-in-out;
    left: 0px;
}

.navbutton:visited, .homebutton:visited{
    text-decoration: none;
    color:var(--text);
}

h1{
    color: var(--text);
}

#active{
    color:var(--secondary);
}
}

@media only screen and (max-width: 450px){
    nav ul li{
        font-size: 75%;
        margin: 0.5vw;
    }
}